a(:href="to" v-on:mouseover="hover" v-on:mouseout="out").reliant-button
	div.reliant-button_wrapper
		slot
		svg(width="100%" height="2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="-2 1 164 1").top
			path(d="M 0 1 Q 80 1 160 1" ref="lineTop")
		svg(width="100%" height="2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="-2 1 164 1").bottom
			path(d="M 0 1 Q 80 1 160 1" ref="lineBottom")