@import url('https://fonts.googleapis.com/css?family=Lato');

.reliant-button {
	position: relative;
	text-decoration: none;
	z-index: 1;
}

.reliant-button_wrapper {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	font-family: 'Lato', sans-serif;
	font-size: 10px;
	color: #ffffff;
	vertical-align: middle;
	height: 28px;
	padding: 4px 20px;
	// background: linear-gradient(15deg, #9e48dc 0%, #b46aff 50%, #c18bf9 100%);
	cursor: pointer;
	transition: background-color 0.2s ease-out;
	text-transform: uppercase;
	letter-spacing: 1px;
	filter: drop-shadow(0px 1px 14px rgba(193, 139, 249, 0.7));
	background-color: #b074ef;
	border-radius: 4px;

	// &:before {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	bottom: 0;
	// 	left: 0;
	// 	width: 5px;
	// 	border-top-left-radius: 3px;
	// 	border-bottom-left-radius: 3px;
	// 	background-color: #b074ef;
	// }

	// &:after {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	width: 5px;
	// 	border-top-right-radius: 3px;
	// 	border-bottom-right-radius: 3px;
	// 	background-color: #b074ef;
	// }
}

svg {
	position: absolute;
	top: 0;
	left: 0;
	overflow: visible;
	z-index: -1;

	&.we {
		width: 38px;
		left: auto;
		right: -20px;
	}

	path {
		fill: #b074ef;
		backface-visibility: hidden;
	}
}
